@font-face {
  font-family: trebuc;
  src: url("../../fonts/Trebuchet_MS.ttf");
}
.family_trebuc {
  font-family: trebuc;
}

@font-face {
  font-family: yugothib;
  src: url("../../fonts/yugothib.ttf");
}
.family_yugothib {
  font-family: yugothib;
}

@font-face {
  font-family: Segoe_UI;
  src: url("../../fonts/Segoe_UI.ttf");
}
.family_segoe {
  font-family: Segoe_UI;
}
* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;

  // ............ color variable............
  --text-black: #000;
  --text-white: #fff;
  --text-f1: #1f1f1f;
  --text-cc: #cccccc;
  --text-be: #3281be;
  --text-48: #333e48;
  --text-93: #005393;
  --text-f7: #4f9df7;
  --text-5b: #0b1f5b;
  --text-01: #0d0101;
  --text-32: #202732;
  --text-red: #ff0000;
  --text-89: #898989;
  --text-d0: #d0d0d0;
  --text-ec: #ecf7ff;
  --text-70: #707070;
  --text-f3: #f3f3f3;
  --text-f4: #f4f4f4;
  --text-a9: #a9a9a9;
  --text-100: #ffb100;
  --text-e2: #e2e2e2;
  --text-e8: #e8e8e8;
  --text-a5: #a5a5a5;
  --text-8e: #16348e;
  --text-1e: #ff771e;
  --text-c0: #983c00;
  --text-83: #838383;
  --text-2f: #29A62F;
  --text-60: #24AF60;
  --text-28: #005D28;
}
// ............body..........
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--text-01);
  font-family: Segoe_UI;
}
// ............body..........End

// ...........Section Container and padding of container..........
.section_container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  // section_container helper.........
  &.container_left_helper {
    padding-left: 140px;
    @media (max-width: 1199px) {
      padding-left: 1.5rem;
    }
  }
  &.container_right_helper {
    padding-right: 140px;
    @media (max-width: 1199px) {
      padding-right: 1.5rem;
    }
  }
}

// ...........Section Container..........End

// ..............................Header Style.........................
.logo_img {
  max-height: 2.7rem;
  @media (max-width: 600px) {
    max-height: 2rem;
  }
}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: none;
  .navbar_list {
    .nav-item {
      margin-right: 8.3rem;
      padding-top: 1.8rem;
      padding-bottom: 1.8rem;
      &.nav_item_md {
        margin-right: 6.5rem;
        &:last-of-type(2) {
          margin-right: 4.4rem;
        }
      }
      @media (max-width: 1199px) {
        margin-right: 0px!important;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }
      .nav-link {
        padding: 0px;
      }
      &:last-child {
        margin-right: 0px;
        padding-top: 0rem;
        padding-bottom: 0rem;
      }
    }
    a {
      font-size: 1.4rem;
      color: var(--text-black) !important;
      font-family: trebuc;
      text-transform: uppercase;
      &.primary_link {
        font-size: 1.8rem;
        color: var(--text-5b) !important;
      }
    }
    .btn_nav_item {
      background: linear-gradient(#3384c1 0%, #0b1f5b 100%);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 22rem;
      height: 7rem;
      color: var(--text-white) !important;
      @media (max-width: 600px) {
        width: 15rem;
        height: 5rem;
      }
    }
  }
}

// .........Header beneath.......
.header_beneath_section {
  background: var(--text-ec);
  .box {
    padding: 1rem;
    @media (max-width: 600px) {
      button {
        font-size: 1.4rem !important;
        padding: 0.5rem;
        height: 3rem;
      }
      span {
        font-size: 1.4rem;
        &:first-child {
          margin-right: 1rem !important;
        }
      }
    }
  }
}
// .........Header beneath.......End
// ..............................Header Style.........................End

// ..............................Heading.............................
h1 {
  font-size: 5rem;
  @media (max-width: 600px) {
    font-size: 3rem;
  }
}
h2 {
  font-size: 3rem;
  @media (max-width: 600px) {
    font-size: 2rem;
  }
  &.mb_2 {
    margin-bottom: 2rem;
  }
}
h3 {
  font-size: 3rem;
  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
  &.size_40 {
    font-size: 4rem;
    @media (max-width: 600px) {
      font-size: 2.4rem;
    }
  }
  &.title_mb {
    margin-bottom: 3rem;
    @media (max-width: 600px) {
      margin-bottom: 1rem;
    }
  }
  &.size_2 {
    font-size: 2rem;
    @media (max-width: 600px) {
      font-size: 1.6rem;
    }
  }
}
h4 {
  font-size: 2.4rem;
  @media (max-width: 600px) {
    font-size: 1.8rem;
  }
  &.pb_with_border {
    padding-bottom: 2.4rem;
    border-bottom: 1px solid var(--text-70);
  }
  &.mb_4 {
    margin-bottom: 4rem;
  }
}
h5 {
  font-size: 1.8rem;
  &.default_16 {
    font-size: 1.6rem;
    line-height: 3.6rem;
    @media (max-width: 600px) {
      font-size: 1.4rem;
      line-height: 2.6rem;
    }
  }
}
h6 {
  font-size: 1.4rem;
}
p.paragraph {
  line-height: 3.6rem;
  @media (max-width: 600px) {
    line-height: 2.6rem;
  }
}
// ..............................Heading.............................End

// .............................Text, Background classes ............
.text_primary {
  color: var(--text-5b);
}
.text_48 {
  color: var(--text-48);
}
.text_be {
  color: var(--text-be);
}
.text_f7 {
  color: var(--text-f7) !important;
}
.text_01 {
  color: var(--text-01);
}
.text_red {
  color: var(--text-red) !important;
}

// bg
.bg_32 {
  background: var(--text-32);
}
.bg_f3 {
  background: var(--text-f3);
}
.bg_d0 {
  background: var(--text-d0);
}

// .............................Fonts classes ............
// .............................Fonts classes ............

.font_14 {
  font-size: 1.4rem;
  &.sm_less {
    @media (max-width: 400px) {
      font-size: 0.8rem;
    }
  }
}
.font_13 {
  font-size: 1.3rem;
}

// .............................Text, Background classes ............End

// ............................Footer Style.......................
footer {
  background: var(--text-32);
  padding-top: 6.4rem;
  padding-bottom: 3.9rem;
  color: var(--text-white);
  font-family: yugothibu;
  .ps_md_28 {
    @media (min-width: 768px) {
      padding-left: 2.8rem;
    }
  }
  @media (max-width: 600px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .light_logo {
    height: 3.84rem;
    display: inline-block;
    margin-bottom: 2.4rem;
  }
  p.paragraph {
    font-size: 1.4rem;
  }
  p {
    font-family: yugothib;
  }
  .footer_nav_list {
    display: flex;
    flex-flow: row wrap;
    &.list_size_sm {
      font-size: 1.4rem;
    }
    li {
      margin-right: 4rem;
      margin-bottom: 2.37rem;
      &.list_sm {
        margin-bottom: 1.1rem;
        margin-right: 0px;
      }
      .nav_link {
        color: var(--text-white);
        font-family: trebuc;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  .footer_copyright {
    font-size: 1rem;
    font-family: yugothib;
    margin-top: 5.6rem;

    @media (max-width: 600px) {
      margin-top: 2rem;
    }
    &.mt_sm {
      margin-top: 1.6rem;
      @media (max-width: 600px) {
        margin-top: 1rem;
      }
    }
  }
}
// ............................Footer Style.......................End
